@import url('font.css');
// .App {
//   text-align: center;
// }
body {
  font-family: NunitoSans-Regular, sans-serif;
  width: 100%;
  background-color: #dfe9f5;
  height: 100%;
}
// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
.app {
  display: flex;

  /* gap: 10px; */
  padding: 15px;
}
.main-content {
  margin-left: 30px;
  width: 100%;
  // background-color: rebeccapurple;
}
.boldfont {
  font-size: 800;
}
.commanfontcolor {
  color: grey;
}
.largefont {
  font-size: 17px;
}
.smallfont {
  font-size: 10px;
}
@media screen and (max-width: 1053px) {
  .app {
    display: flex;
    width: 100%;
  }

  // body {
  //   width: 100%;
  // }
  // .main-content {
  //   margin-left: 30px;
  //   width: 100%;
  //   background-color: rebeccapurple;
  // }
}
@media screen and (max-width: 1005px) {
  .app {
    display: flex;
    width: 100%;
  }

  // body {
  //   width: 100%;
  // }
  .main-content {
    // margin-left: 30px;
    // width: 100%;
    // background-color: rebeccapurple;
  }
}
